html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    min-height: 74vh;
    max-width: 77%;
    background: var(--primary-soft-color) url(../images/bg-hero-desktop.svg) no-repeat;
    background-position: cover;
}

.header .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4.6rem 7.6rem 6.5rem;
}

.header .logo img{
    width: 20rem;
}

.header .logo .btn{
    font-family: var(--secundary-font);
    color: var(--primary-dark-color);
    padding: 1.4rem 6.3rem;
    border-radius: 2.5rem;
    box-shadow: 0 0 1rem #0000002a;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.header .hero{
    display: flex;
    align-items: center;
    padding: 0 7.7rem;
    gap: 3.6rem;
}

.header .hero .hero-info{
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
}

.header .hero .hero-info h1{
    font-family: var(--primary-font);
    font-size: 4rem;
    font-weight: 600;
    margin-top: 1.7rem;
}

.header .hero .hero-info p{
    font-family: var(--secundary-font);
    font-size: 1.8rem;
    line-height: 2.9rem;
    font-weight: 400;
    margin-top: 2.9rem;
}

.header .hero .hero-info .btn-2{
    background-color: var(--secundary-soft-color);
    align-self: flex-start;
    padding: 1.9rem 7rem;
    margin-top: 2.8rem;
    border-radius: 3rem;
    font-family: var(--secundary-font);
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
}

.header .hero .hero-info .btn-2:hover{
    opacity: 0.6;
}

.header .hero img{
    width: 54%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16rem;
}

main .main-content{
    display: flex;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #0000001c;
    max-width: 66%;
}

main .main-content .service-details h2{
    font-size: 2.8rem;
    font-family: var(--primary-font);
}

main .main-content .service-details p{
    font-family: var(--secundary-font);
    font-size: 1.8rem;
    line-height: 2.8rem;
}

main .main-content .ilustration{
    width: 40rem;
}

main .first{
    padding: 6rem 3rem 5.3rem 12rem;
}

main .first .service-details p{
    padding-right: 17rem;
    margin-top: 1rem;
}

main .second{
    margin-top: 4rem;
    padding: 8rem 2rem 8rem 12rem;
}

main .second .service-details{
    padding-left: 18rem;
}

main .second .service-details p{
    margin-top: 1.3rem;
}

main .third{
    margin-top: 4rem;
    padding: 7rem 2rem 7rem 12rem;
}

main .third .service-details{
    padding-right: 17rem;
}

main .third .service-details p{
    margin-top: 1.3rem;
}

footer{
    
}